
button{
    background-color: #ff0000;
    color: #ffffff;
    font-family: 'Hepta Slab', serif;
    border-radius: 0.5em;
    border: none;
    padding:10px;
    float:left;
}

h1{
    background-color: #61a3e6;
    color: #ffffff;
    margin: 0;
    text-align: center;
    padding:30px;
}

body{
    background-color: lightgray;
}

#searchname{
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
}
.form-field {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }